@{
    ViewBag.Title = "About";
}



<div onload="init();" class="subdiv">
    <canvas id="MyCanvas1" width="300" height="200">
        This browser or document mode doesn't support canvas object
    </canvas>
</div>
<p><h3>ברוכים הבאים לאתר מתכונים!</h3></p>

<p>אתר זה מציג מתכונים מכל הסוגים ומכל המינים</p>

<video width="500" height="500" controls>
    <source src="~/Upload/Videos/karinGoren.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

