@model IEnumerable<RecipeSite.Models.ApplicationUser>
@{
    Layout = null;
}           

<aside class="col-lg-3 hidden-xs " >

    <div style="margin:10px">
        <img style="width:95%" src="~/Upload/Images/Style/news3.dib" />
        <canvas id="MyCanvas1" onload="init();" >
            This browser or document mode doesn't support canvas object
        </canvas>
    </div>
    <div class="fb-like" data-href="https://www.facebook.com/recipeSiteWeb?ref=aymt_homepage_panel" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

    <section id="asideMenu" style="height:100%">
        <section style="margin:20px;width:100%;height:50%;">
            <header>
                <h3>Popular Users</h3>
            </header>
            <ul>
                @foreach (var item in Model)
                {
                    <li>@Html.DisplayFor(modelItem => item.UserName)</li>
                }
            </ul>
        </section>
        <section style="width:100%;height:50%;">
            <header>
                <h3>Most Helathy foods</h3>
            </header>



        </section>
    </section>
</aside>

<script type="text/javascript">
    var can, ctx, step, steps = 0,
          delay = 50;

    function init() {
        can = document.getElementById("MyCanvas1");
        ctx = can.getContext("2d")  ;
        ctx.fillStyle = "black";
        ctx.font = "10pt Verdana";
        ctx.textAlign = "end";
        ctx.textBaseline = "middle";

        step = 0;
        steps = can.height + 10;
        RunTextUpToDown();
    }

    function RunTextUpToDown() {
        step++;
        ctx.clearRect(0, 0, can.width, can.height);
        ctx.save();
        ctx.translate(can.width , step);
        ctx.fillText("NEW!!!", 5, 0);
        ctx.fillText("Hot Chocolate Cake Recipe", 5, 15);
        ctx.fillText("The Best in Town !!!", 5, 30);
        ctx.restore();
        if (step == steps)
            step = 0;
        if (step < steps)
            var t = setTimeout('RunTextUpToDown()', delay); //delay = 50
    }
</script>