@{
    ViewBag.Title = "Index";
}



<div class="text-center">
    <p><h3 class="welcome" style="margin:20px;margin-top:50px">Welcome to Recipe Site!</h3></p>
    <p>This site display all types of the recipes you can ever imagine</p>

    @* Video use  *@

    <video width="500" height="500" style="height:50%;width:50%;margin-top:30px" controls>
        <source src="~/Upload/Videos/karinGoren.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
