/*body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}

a{
font-size:4em;
}*/

#content {
	display: table;
    width:100%;
     height: 100%;
}

	#mainContent {
		display: table-cell;
		width: 70%;
		padding-right: 22px;
         
	}

aside {
		display: table-cell;
		width: 20%;
        background-color:lightgrey;
        height:500px;
		/*background: url('../images/sidebar_background.png') top left;*/
              /*-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;*/
  
    overflow: visible;
    /*margin:10px;*/
    /*margin-bottom:10px;
    margin-top:10px;*/

        border-radius: 0px 50px 0px 0px;
    border: 4px solid;
    border-color: darkgray;
	}
footer {position: relative; bottom: 0;}

/*------------------------------
=SIDEBAR
------------------------------*/
aside section {
	/*margin: 11px 0 0 11px;*/
	/*padding: 6px 11px;*/
	/*background: url('../images/sidebar_section_background.png') repeat-x;*/
	
	/* Border-radius not implemented yet */
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
    /*height:initial;*/
}


	aside section ul {
		margin: 0 0 0 22px;
		list-style: none;

	}
	
		aside section ul li a {
			display: block;
			text-decoration: none;
			color: #000;
		}
		
			aside section ul li a:hover {
				text-decoration: underline;
                
			}

      
            canvas{
                /*margin: 0 0 0 22px;*/
            }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.thumbnail img{
   height:250px;
   width:305px;
}


.favorite {
	     position: absolute; 
    /* left: 0; */
    /* width: 100%; */
    background: url("images/Heart_icon_red_hollow.png");
    background-repeat: no-repeat;
    /* top: 1px; */
    /* display: block; */
    /* font-family: 'Glyphicons Halflings'; */
    font-style: normal;
    font-weight: 400;
    /* line-height: 1; */
    /* -webkit-font-smoothing: antialiased; */
    height: 100%;
    width: 100%;

}

/* Only affects 1600px width and higher */
@media only screen and (min-width: 1600px){ nav {font-size: 36px; text-align:left;}}
/*@media only screen and (min-width: 1600px){ body {font-size: 24px; text-align:left;}}*/

/* Only affects 900px-1200px width */
@media only screen and (max-width: 1200px){ nav { font-size: 12px; text-align:left;}}
/*@media only screen and (min-width: 1200px){ body {font-size: 12px; text-align:left;}}*/
/* Only affects 600px-900px width */
@media only screen and (max-width: 900px){ nav { font-size: 12px;text-align:left; }}
/*@media only screen and (min-width: 900px){ body {font-size: 12px; text-align:left;}}*/
/* Only affects 400-600px width */
@media only screen and (max-width: 600px){ nav { font-size: 12px;text-align:left; }}
/*@media only screen and (min-width: 600px){ body {font-size: 12px; text-align:left;}}*/
/* Only affects 400px width and lower */
@media only screen and (max-width: 400px){ nav { font-size: 12px;text-align:left; }}
/*@media only screen and (min-width: 400px){ body {font-size: 12px; text-align:left;}}*/

dl {
    float: left;
  width: 100%;
  overflow: hidden;
  text-align:left;
 
  margin: 10px
}

dt{
    text-align:left;
     padding: 5px;
}

dd{
      text-align:left;
      padding: 5px;
}

@font-face {
    font-family: artifika;
    src: url(Fonts/Artifika-Regular.ttf);
}

.welcome{
    color: cornflowerblue;
    text-shadow: 2px 3px #286090;
    font-family: artifika;
}



